:root {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F5F5;
    --thirdy-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --primary-text-color: #000000;
    --secondary-text-color: #212121;
    --thirdy-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-transparency: color rgba(255, 255, 255, 0.6);
    --white-color: #fff;
    --line-color: #ececec;
}


/* Основний колір тексту #000000 */

/* Другорядний колір тексту #212121 */

/* Акцентивний колір тексту #2196F3 */

/* Третьорядний колір тексту #757575 */

/* Білий з прозорістю 60% #000000 */

/* Колір фону основний білий #FFFFFF */

/* Колір фону другорядний білий #F5F5F5 */

/* Колір фону третьорядний білий ##F5F4FA */

/* Колір фону кольоровий #2F303A */

/* Колір лінії хедеру #ECECEC */

/* Studio CSS */

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
}

.section:last-child {
    padding-bottom: 94px;
}

.body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}



/* header */

.header {
    background-color: var(--primary-bg-color);
}

.header-block {
    display: flex;
    align-items: center;
    border-bottom: var(--line-color);
}

.nav {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list-item {}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}


.header-list link {

    color: var(--secondary-text-color);
}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link:active {
    color: var(--accent-text-color);
}

.header-list .current {
    color: var(--accent-text-color)
}

.logo-main {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);

}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--accent-text-color);
}



.header-seclist {
    display: flex;
    margin-left: auto;
}


.header-seclist-item:not(:last-child) {
    margin-right: 50px;
}

.header-site {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--thirdy-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-site:hover,
.header-site:focus,
.header-site:active {
    color: var(--accent-text-color);
}

.header-telephone {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--thirdy-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.header-telephone:hover,
.header-telephone:focus,
.header-telephone:active {
    color: var(--accent-text-color);
}


/* main */
/* General */

.general {
    color: var(--primary-text-color);
    background-color: var(--accent-bg-color);
    height: 600px;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

.general-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.general-button {
    background-color: var(--accent-text-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    text-align: center;
    border: solid 1px transparent;
    margin-bottom: 200px;
}

/* Features */

.features {}

.features-title {
    display: none;
}

.features-list {
    display: flex;
}

.features-list-item {
    width: 270px;
    margin-right: 30px;
}

.features-list-item:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
}


.features-list-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list-text {
    color: var(--thirdy-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Сфери зайнятості */

.field-employment {}

.field-employment-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

.field-employment-list {
    display: flex;
    justify-content: space-between;
}

.field-employment-item {}

.field-employment-link {}

/* Komanda */

.team {}

.team-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

.team-list {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-person {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    color: var(--thirdy-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Футер */

.footer {
    background-color: var(--accent-bg-color);
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-main {
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-block {}

.footer-list {
    list-style: none;
    padding-left: 0px;
}

.footer-address {
    color: var(--white-color);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-address:hover,
.footer-address:focus,
.footer-address:active {
    color: var(--accent-text-color);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
    color: var(--accent-text-color);
}

.footer-telephone {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-telephone:hover,
.footer-telephone:focus,
.footer-telephone:active {
    color: var(--accent-text-color);
}


/* Portfolio CSS */

.portfolio-button {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: transparent;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
    color: var(--white-color);
    background-color: var(--accent-text-color);
}

.portfolio-secbutton {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.portfolio-secbutton-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-secbutton-item {}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    margin-bottom: 30px;
    margin-right: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.portfolio-link {
    text-decoration: none;
    margin-bottom: 20px;
    border-bottom: var(--line-color);
}

.portfolio-title {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5x;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--thirdy-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio {
    display: none;
    margin-bottom: 34px;
}